node_modules
.env
coverage
coverage*.json
scripts/@types
.eslintcache

#Hardhat files
cache
artifacts

# Foundry files
cache-foundry
out-foundry

.store

deployments/fork*
deployments/tenderly*

logs/
